<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item nav-desktop-hidden">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
      @*    <li class="nav-item d-none d-sm-inline-block">
            <MudBlazor.MudButton @onclick="OnLogoutClick">Logout</MudBlazor.MudButton>
        </li> *@
        <li class="nav-item d-none d-sm-inline-block">
            <span>@($"Hello {FullName}!")</span>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <div class="image" style="display: flex; height: 3vh;">
                    <img src="images/company-logo/company-logo.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="images/company-logo/company-logo.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                @FullName
                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">@PrimaryRole</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> @($"{RoleCount} additional roles")</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                
                <div class="dropdown-divider"></div>
                <a href="#" @onclick="OnLogoutClick" class="dropdown-item dropdown-footer">Signout</a>
            </div>
        </li>
    </ul>
</nav>